.App-header {
  border: solid 1px rgb(12, 12, 12);
  border-radius: 4px;
  background-color: rgb(236, 245, 247);
  min-height: 12vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  color: rgb(40, 40, 197);
  padding: 0 30px;
  margin: 0 70px;
}

.App-header h1 {
  background-color: rgb(236, 245, 247);
  align-content: center;
  text-align: center;
  font-size: 60px;
}
