.navbar {
  font-family: cursive;
  align-items: center;
  align-content: center;
}

.social-link {
  padding: 20px 25px;
}

.navbar .nav .nav-link {
  padding: 10px 20px;
  font-size: 19px;
  color: white;
}

a.nav-link {
  padding: 0 50px;
}
